version: 2
ethernets:
  eth0:
    dhcp4: false
    addresses: [ {{ internal_ip_address }} ]
wifis:
  renderer: networkd
  wlan0:
    dhcp4: false
    optional: true
    access-points:
      "{{ ssid }}":
        password: "{{ hashed_password }}"
    addresses: [ {{ external_ip_address }} ]
    gateway4: {{ external_gateway_ip }}
    nameservers:
      addresses: [ 8.8.8.8, 8.8.4.4 ]
